@use "../../abstracts" as *;

.header {
  position: relative;

  display: grid;
  align-items: center;

  min-height: 100vh;

  color: $color-white;
  background-color: $color-primary;
  background-image: url(../../../../assets/images/img-header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
